.animate-slow {
  animation: slow 4s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes slow {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.05);
  }
}